@import url("https://use.typekit.net/tnm5nis.css");

@font-face {
  font-family: "Mattone";
  src:local("/Users/tom/Desktop/paraleclypse-website/src/assets/fonts/Mattone-150.otf");
}

$Mattone : "Mattone", sans-serif;
$Mason : "mason-sans", sans-serif;
